.sidebar {
  @include fixed;
  &__logo {
    @include flex;
    justify-content: start;
    height: 70px;
    padding-left: 30px;
    img {
      width: 120px;
      height: 40px;
    }
  }
  &__menu {
    .sidebar__nav {
      margin-bottom: 18px;
      .sidebar__nav-list {
        list-style: none;
        .sidebar__nav-item {
          a {
            @include flex;
            justify-content: start;
            padding: 13px 32px;
            font-size: 16px;
            color: $text;
            text-decoration: none;
            span {
              margin-left: 10px;
            }
          }
          a.active {
            background-color: $purple__1;
            border-left: 3px solid $purple__3;
          }
        }
      }
    }
    .sidebar-divide {
      position: relative;
      height: 1px;
      background-color: #5c5555;
      margin: 0 auto;
      width: 70%;
    }
    .sidebar__music {
      margin-top: 18px;
      .sidebar__music-list {
        list-style: none;
        .sidebar__music-item {
          a {
            @include flex;
            justify-content: start;
            padding: 10px 32px;
            font-size: 16px;
            color: $text;
            text-decoration: none;
            span {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .vip-banner-sidebar {
      padding: 15px 8px;
      border-radius: 8px;
      margin: 10px 20px;
      text-align: center;
      background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
      p {
        font-size: 14px;
        margin-bottom: 22px;
      }
      a {
        border: 1px solid #ffdb00;
        border-radius: 50px;
        padding: 6px 32px;
        background-color: #ffdb00;
        font-size: 13px;
        text-decoration: none;
        font-weight: 600;
      }
    }
    .sidebar__category {
      .sidebar-text {
        margin: 22px 28px 8px;
      }
      .sidebar__category-list {
        .sidebar__category-item {
          a {
            @include flex;
            justify-content: start;
            padding: 8px 32px;
            font-size: 16px;
            color: $text;
            text-decoration: none;
            span {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
